<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Search Page
    </title>
</head>
<body>
    ...
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <div class="feed">
        <div class="search_bar">
            <form action="/" method="GET">
                <div><input type="text" name="q" value="{{query}}" /></div>
                {%if weight%}
                <div><input type="range" name="w" min="0" max="1" step=".01" value="{{weight}}" /></div>
                {%else%}
                <div><input type="range" name="w" min="0" max="1" step=".01" value="0.5" /></div>
                {%endif%}
                <input type="submit" value="Search" />
            </form>
        </div>
        <div class="ask485">
            ask485
        </div>
        <div class="pagerank_weight">Pagerank Weight</div>
        <div class="docs">
            {%if docs|length > 0%}
            {%for doc in docs%}
            {%if doc.url%}
            <a class="doc_url" href={{doc.url}}>{{doc.url}}</a>
            {%else%}
            <a class="doc_url" href="/">No url available</a>
            {%endif%}
            <br>
            <div class="doc_title"> <a href={{doc.url}}>{{doc.title}}</a></div>
            {%if doc.summary%}
            <div class="doc_summary">{{doc.summary}}</div>
            {%else%}
            <div class="doc_summary">No summary available</div>
            {%endif%}
            {%endfor%}
            {%else%}
            <div class="no_results">No search results found!</div>
            {%endif%}
        </div>
    </div>
   </body>
</html>